summary {
  cursor: pointer;
}
 body {
   /* background-color: #192736;
   color: #ffffff; */
   
 }

#create-btn {
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  /* color: #afb49f */
}

 div#form-container {
   /* background-color: #ffefd5; */
   padding: 20px;
   border-radius: 30px;
   text-align: center;
 }

 li {
  border: 3px solid #2f4f4f;
  /* background-color: #bbbbbb; */
  padding: 10px;
  border-radius: 15px, 30px;
  list-style: none;
  margin-top: 5px;
 }

 .Wrapper__Login {
    margin: auto;
    width: 50%;
    /* background-color: #211c18; */
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
 }
